.movie-card-wrapper {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2.5rem 1.5rem;
    transition: gap var(--transition);
}

@media (min-width: 901px) {
  .movie-card-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2.5rem 1.5rem;
  }
  .movie-wrapper {
    flex: 0 1 30%;
    max-width: 30%;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .movie-card-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem 1rem;
  }
  .movie-wrapper {
    flex: 0 1 45%;
    max-width: 45%;
  }
}
@media (max-width: 600px) {
  .movie-card-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem 0;
  }
  .movie-wrapper {
    max-width: 100%;
    width: 100%;
  }
}